In [4]:
from sqlalchemy import create_engine,inspect
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from configparser import ConfigParser
import psycopg2
#from config import config

In [33]:
##http://www.postgresqltutorial.com/postgresql-python/connect/
## Before running the code: 
#  1. Create a file named 'database.ini'
#  2. Store in the file the database info
#  [postgresql]
# host=localhost
# database=xxx
# user=postgres_user_name
# password=postgres_password 


def config(filename='database.ini', section='postgresql'):
    # create a parser
    parser = ConfigParser()
    # read config file
    parser.read(filename)
 
    # get section, default to postgresql
    db = {}
    if parser.has_section(section):
        params = parser.items(section)
        for param in params:
            db[param[0]] = param[1]
    else:
        raise Exception('Section {0} not found in the {1} file'.format(section, filename))
 
    return db

In [34]:
param=config()

In [31]:
# test with direct hard code of psswd. DId work
#https://docs.sqlalchemy.org/en/13/core/engines.html
engine = create_engine('postgresql://'+param['user']+':'+param['password']+'@localhost:5432/HW9')
connection = engine.connect()

### Database is connected. 
We will check if the connection is correct by using "inspect()"

In [32]:
# check table name inside the database
inspector = inspect(connection)
inspector.get_table_names()

['customer_table',
 'customer_mail',
 'student',
 'student_course',
 'course',
 'dept_emp',
 'department',
 'salaries',
 'title',
 'employee',
 'dept_manager']

In [ ]:
#check title table
# Use Inspector to print the column names and types
columns = inspector.get_columns('title')
for c in columns:
    print(c['name'], c["type"])

### Select required columns from "title" table
Table is transformed into dataframe

In [ ]:
# select emp_no and title FROM title table

SQL_query = pd.read_sql_query(
'''SELECT
emp_no,
title,
from_date, 
to_date
FROM title''', connection)

# transform in dataframe
title_df = pd.DataFrame(SQL_query, columns=['emp_no','title','from_date','to_date'])
title_df.head()

In [ ]:
title_df.count()

### Select required columns from "salaries" table
Table is transformed into dataframe

In [ ]:
#check salaries table
# Use Inspector to print the column names and types
columns = inspector.get_columns('salaries')
for c in columns:
    print(c['name'], c["type"])

In [ ]:
SQL_query = pd.read_sql_query(
'''SELECT
emp_no,
salary,
from_date, 
to_date
FROM salaries''', connection)

salary_df = pd.DataFrame(SQL_query, columns=['emp_no','salary','from_date','to_date'])
salary_df.head()

In [ ]:
salary_df.count()

### Now, we have all the info we need in dataframe format
We will join tables on "emp_no"

In [ ]:
title_salary_merge_raw = pd.merge(salary_df,title_df,on="emp_no",how='inner')
title_salary_merge_raw.head(20)

In [ ]:
title_salary_merge_raw.count()

In [ ]:
# drop data where title and salaries are not matching. Check using the from_date
# Final dataframe for the study 
title_salary_df = title_salary_merge_raw[title_salary_merge_raw.from_date_x == title_salary_merge_raw.from_date_y]
title_salary_df['emp_no'].count()

In [ ]:
title_salary_df.head(20)

In [ ]:
# Track records of drop data where title and salaries are not matching

drop_data = title_salary_merge_raw[title_salary_merge_raw.from_date_x != title_salary_merge_raw.from_date_y]
drop_data['emp_no'].count()

In [ ]:
mean_salary_by_title = title_salary_df.groupby("title").mean()
mean_salary_by_title

### Plot

In [ ]:
# extract salary and round
salary = mean_salary_by_title.salary.round()
salary

In [ ]:
# create x axis
x = np.arange(len(salary))
x

In [ ]:
plt.bar(x,salary,align='center',alpha=0.5)
plt.xticks(x,mean_salary_by_title.index,rotation= 45,ha='right',fontsize=12)
plt.yticks(fontsize=12)
plt.ylabel('Salary (USD)',fontsize=12)
plt.ylim(0,70000)
plt.title('Average salary by job title',fontsize=14)
plt.tight_layout()
plt.savefig('Average_salary_by_title.png')
plt.show()